
<ol>
	<li>Create your duck race event…</li>
	<li>…choose a date and time...</li>
	<li>Invite people to take part…</li>
	<li>Your friends will pay to purchase a virtual duck for the race.</li> 
	<li>The money raised will go directly to your charity</li>
</ol>

<a class="button" href="/create_event_1.htm">Create a Race…</a>
				


	
		
